<!DOCTYPE html>
<html>
<head>
  <title>Brands</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/FIDUCIA LINE JPEG.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900">
    <link rel="stylesheet" type="text/css"  href="/plugins/bootstrap.css">
    <link rel="stylesheet" type="text/css"  href="/plugins/fonts.css">
    <link rel="stylesheet"  type="text/css"  href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.social-icons{
	padding:30px;
  text-align: center;
  padding-right: 110px;
}
.breadcrumbs-custom {
    position: relative;
    padding: 20px 0;
    background-color: #1a2849;
    background-position: center;
}
.img{
  height: 100px;
  width: 300px;
}
.rd-navbar-transparent.rd-navbar-static .rd-navbar-main-inner {
    background-color: rgb(227 227 227 / 30%);
}
.social-icons a{
	color:#fff;
  line-height:30px;
  font-size:30px;
  margin: 0 5px;
  text-decoration:none;
  
}
.social-icons a i{
	line-height:30px;
  font-size:30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}
.row {
  margin: 0px -10px;
}

.row,
.row > .column {
  padding: 0px;
}

.column {
  float: left;
  width: 150%;
  display: none; /* Hide all elements by default */
}

@media only screen and (min-width: 360px) and (max-width: 600px){
.column {
  float: left;
  width: 49.33%;
  display: none; /* Hide all elements by default */
}
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 8px 15px;
  background-color: white; color: #575757;
  cursor: pointer; font-weight: bold;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #005aaa !important;
  color: #ffffff;
  @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');}

.a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}
.rd-navbar-transparent.rd-navbar-static .rd-navbar-aside-outer {
    color: white;
    background-color: #d75b01;
}
.navbar-expand {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.nav-link{
  font-size: 21px;
}
.rd-navbar-transparent.rd-navbar-static .rd-navbar-main-inner {
    background-color: #fff
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.socialbtns .fa {
	width: 40px;
    height: 28px;
	color: #000;
	background-color: #FFF;
	border: 1px solid #000;
	padding-top: 12px;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.socialbtns .fa:hover {
	color: #ffffff;
	background-color: #000;
	border: 1px solid #000;
}


</style>
</head>
<body>
  <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page"><a class="banner banner-top" href="https://www.templatemonster.com/website-templates/monstroid2.html" target="_blank"><img src="" alt="" height="0"></a>
      <header class="section page-header rd-navbar-transparent-wrap">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="44px" data-xl-stick-up-offset="44px" data-xxl-stick-up-offset="44px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
         
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main-inner">
                <div class="rd-navbar-main">
                  <!--RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                    <!--RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand">
                      <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="/images/istockphoto-1224392306-170667a.jpg" alt="" width="146" height="22"/><img class="brand-logo-light" src="/images/FIDUCIA PNG FULL LOGO.png" alt="" width="155" height="22"/></a>
                    </div>
                  </div>
                  <%- include('../../nav_partials/nav') %>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="rd-navbar-bg novi-background bg-image" style="background-image: url()"></div>
      </header>
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/breadcrumbs-image-1.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <!-- <h6 class="breadcrumbs-custom-subtitle title-decorated">clients</h6> -->
              <!-- <h1 class="breadcrumbs-custom-title">Typography</h1> -->
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/main">Home</a></li>
              <li class="active">Brands</li>
            </ul>
          </div>
        </div>
      </section>
  <!-- Our Clients-->
  <section class="section section-lg bg-white-800">
    
    <div class="container text-center text-xl-left">
<!-- MAIN (Center website) -->
<div class="main">
<!-- 
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')">All</button>
    <button class="btn" onclick="filterSelection('a')"> A</button>
    <button class="btn" onclick="filterSelection('b')"> B</button>
    <button class="btn" onclick="filterSelection('C')"> C</button>
    <button class="btn" onclick="filterSelection('d')"> D</button>
    <button class="btn" onclick="filterSelection('e')"> E</button>
    <button class="btn" onclick="filterSelection('f')"> F</button>
    <button class="btn" onclick="filterSelection('g')"> G</button>
    <button class="btn" onclick="filterSelection('h')"> H</button>
    <button class="btn" onclick="filterSelection('i')"> I</button>
    <button class="btn" onclick="filterSelection('j')"> J</button>
    <button class="btn" onclick="filterSelection('k')"> K</button>
    <button class="btn" onclick="filterSelection('L')"> L</button>
    <button class="btn" onclick="filterSelection('M')"> M</button>
    <button class="btn" onclick="filterSelection('N')"> N</button>
    <button class="btn" onclick="filterSelection('O')"> O</button>
    <button class="btn" onclick="filterSelection('p')"> P</button>
    <button class="btn" onclick="filterSelection('q')"> Q</button>
    <button class="btn" onclick="filterSelection('r')"> R</button>
    <button class="btn" onclick="filterSelection('s')"> S</button>
    <button class="btn" onclick="filterSelection('t')"> T</button>
    <button class="btn" onclick="filterSelection('U')"> U</button>
    <button class="btn" onclick="filterSelection('v')"> V</button>
    <button class="btn" onclick="filterSelection('w')"> W</button>
      <button class="btn" onclick="filterSelection('x')"> X</button>
    <button class="btn" onclick="filterSelection('y')"> Y</button>
    <button class="btn" onclick="filterSelection('z')"> Z</button>
  
  </div> -->

<!-- Portfolio Gallery Grid -->
<div class="owl-carousel owl-carousel-4 text-center" data-items="1" data-sm-items="3" data-md-items="4" data-lg-items="5" data-xl-items="6" data-dots="true" data-nav="false" data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false">
  <% for(var i=0; i < data.length; i++ ) { %>

  <div class="container">
    <a class="link-image" href="#">
      <img src="/images/upload_imagess/<%= data[i].image %>" class="img" alt=""/></a></div>

  <% } %>
</div>

<!-- END MAIN -->
</div>
</section>

<footer class="section footer-classic">
  <div class="footer-inner-1">
    <div class="container">
      <div class="row row-40">
        <div class="col-md-5 col-lg-3">
          <h5>Our Contacts</h5>
          <ul class="contact-list font-weight-bold">
            <li>
              <div class="unit unit-spacing-xs">
                <div class="unit-left">
                  <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                </div>
                <div class="unit-body"><a href="#">Address :
                  206 B Second-oor Trade Center 
                
                   <br>  South Tukoganj 
                   Indore 452001</a></div>
              </div>
            </li>
            <li>
              <div class="unit unit-spacing-xs">
                <div class="unit-left">
                  <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                </div>
                <div class="unit-body"><a href="tel:#">99777-76189</a></div>
              </div>
            </li>
            <li>
             
            </li>
          </ul><a class="d-inline-block big" href="mailto:#">Info@fiducia.com</a>
        </div>
        <div class="col-md-6 col-lg-5">
          <h5>Quick Links</h5>
          <div class="row row-5 justify-content-between">
            <div class="col-sm-6">
              <ul class="footer-list big">
                <li><a href="#">IRS Publications</a></li>
                <li><a href="#">Record Retention Guide</a></li>
                <li><a href="#">Tax Due Dates</a></li>
                <li><a href="#">Tax Forms</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-lg-3">
          <h5>Connect with Us</h5>
          <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100085259112179"  title="facebook"> 
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/FiduciaTech" title="twitter"> 
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/fiduciatechnologiesllp/" title="instagram">  
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
          
        </div>
    
   <!-- <div class="unit-left"><img src="/images/fiducia.jpg" alt="" width="300" height="20"></div> -->
      </div>
    </div>
  </div>
  
  <div class="footer-inner-2">
    <div class="container">
      <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. www.fudiciatechnologies.com  </p>
    </div>
  </div>
</footer>
<script>
  
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active","");
    current[0].className = current[0].className.replace(" active", "");
    // this.className += " active";
  });
}
</script>
<script src="/js/core.min.js"></script>
<script src="/js/script.js"></script>
</body>
<a href="//web.whatsapp.com/send?phone=9977776189&text&app_absent=0" style="background-color: #041d55;" id ="ui-to-top" class="ui-to-top fa fa-whatsapp active"></a>
</html>
