<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Products</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/FIDUCIA LINE JPEG.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900">
    <link rel="stylesheet" type="text/css"  href="/plugins/bootstrap.css">
    <link rel="stylesheet" type="text/css"  href="/plugins/fonts.css">
    <link rel="stylesheet"  type="text/css"  href="/css/style.css">
    <link rel="stylesheet" href="/plugins/testimonials.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;} .social-icons{
      padding:30px;
      /* background-color:#00506b; */
      text-align: center;
      padding-right: 110px
      ;
    }
    ul, ol {
    list-style: none;
    padding: 16px;
    margin: -13px;
    font-family: 'Kanit', sans-serif;
}
p,h1,h2,h3,h4,h5{
  font-family: 'Kanit', sans-serif;
}
body {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.71429;
    font-weight: 800;
    color: #999fac;
    background-color: #ffffff;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
}
    .rd-navbar-transparent.rd-navbar-static .rd-navbar-main-inner {
    background-color: rgb(227 227 227 / 30%);
}
.rd-navbar-transparent.rd-navbar-static .rd-navbar-aside-outer {
    color: white;
    background-color: #d75b01;
}
.breadcrumbs-custom {
    position: relative;
    padding: 20px 0;
    background-color: #1a2849;
    background-position: center;
}
    .social-icons a{
      color:#fff;
      line-height:30px;
      font-size:30px;
      margin: 0 5px;
      text-decoration:none;
      
    }
    .img{
        height: 196px;
        width: 302px ;
    }
    .social-icons a i{
      line-height:30px;
      font-size:30px;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1); 
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1); 
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);
      transition: all 200ms ease-in;
      transform: scale(1);
    }
    .navbar-expand {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.nav-link{
  font-size: 21px;
}
.rd-navbar-transparent.rd-navbar-static .rd-navbar-main-inner {
    background-color: #fff
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
    .social-icons a:hover i{
      box-shadow: 0px 0px 150px #000000;
      z-index: 2;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1.5);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1.5);   
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1.5);
      transition: all 200ms ease-in;
      transform: scale(1.5);
    }</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="loader">
          <div></div>
          <div></div>
          
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page"><a class="banner banner-top"style="background-color: #1e2227;border-width: 0px 0px 1px 0px;border-color: #343a46;"alt="" height="0"></a>
      <header class="section page-header rd-navbar-transparent-wrap">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="20px" data-xl-stick-up-offset="20px" data-xxl-stick-up-offset="20px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
         
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main-inner">
                <div class="rd-navbar-main">
                  <!--RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                    <!--RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand">
                      <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="" alt="" width="180px" height="22"/><img src="" alt="" width="146" height="22"/><img class="brand-logo-light" src="/images/FIDUCIA PNG FULL LOGO.png" alt="fiducia" style="max-width:180px;" height="22"/></a>
                    </div>
                  </div>
                  <%- include('../../nav_partials/nav') %>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="rd-navbar-bg novi-background bg-image" style="background-image: url()"></div>
      </header>
   

      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/breadcrumbs-image-1.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <!-- <h6 class="breadcrumbs-custom-subtitle title-decorated">clients</h6> -->
              <!-- <h1 class="breadcrumbs-custom-title">Typography</h1> -->
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/main">Home</a></li>
              <li class="active">Products</li>
            </ul>
          </div>
        </div>
      </section>
       <section class="section section-lg bg-default">
        <div class="container text-center text-lg-left">
          <h2><span class="text-light">Our </span>Services & Products</h2>
      
          <div class="row row-40">
            <% for(var i=0; i < data.length; i++ ) { %>
            <div class="col-md-6">
              <div class="square square-lg">
              
                <div class="team-meta unit align-items-center">
                  <div class="unit-left">
                    <a href="#"><img class="img" src="/images/products_images/<%= data[i].image %>" alt="" /></a>
                  </div>
                  <div class="unit-body">
                    <h5 class="title"><%= data[i].title%></h5>
                 
                  </div>
                </div>
                <div class="content"><%= data[i].description%></div>

                  
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="square square-lg">
                <div class="team-meta unit align-items-center">
                  <div class="unit-left"><img class="img" src="/images/Fire Alarm 1.jpg" alt="" />
                  </div>
                  <div class="unit-body">
                    <h5 class="title">FIRE ALARM SYSTEM</h5>
                 
                  </div>
                </div>
                <div class="content">· Controllers · AI Sensors 
                  · Intrusion Devices · Fire 
                  Protection Devices · FLP Cables</div>
              </div>
            </div> -->
           
            <% } %>
        </div>
      
      
        </div>

      </section>


   
  





   

      <footer class="section footer-classic">
        <div class="footer-inner-1">
          <div class="container">
            <div class="row row-40">
              <div class="col-md-5 col-lg-3">
                <h5>Our Contacts</h5>
                <ul class="contact-list font-weight-bold">
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                      </div>
                      <div class="unit-body"><a href="#">Address :
                        206 B Second-oor Trade Center 
                      
                         <br>  South Tukoganj 
                         Indore 452001</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                      </div>
                      <div class="unit-body"><a href="tel:#">99777-76189</a></div>
                    </div>
                  </li>
                  <li>
                   
                  </li>
                </ul><a class="d-inline-block big" href="mailto:#">Info@fiducia.com</a>
              </div>
              <div class="col-md-6 col-lg-5">
                <h5>Quick Links</h5>
                <div class="row row-5 justify-content-between">
                  <div class="col-sm-6">
                    <ul class="footer-list big">
                      <li><a href="#">IRS Publications</a></li>
                      <li><a href="#">Record Retention Guide</a></li>
                      <li><a href="#">Tax Due Dates</a></li>
                      <li><a href="#">Tax Forms</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-lg-3">
                <h5>Connect with Us</h5>
                <div class="social-icons">
                  <a href="https://www.facebook.com/profile.php?id=100085259112179"  title="facebook"> 
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                  </a>
                  <a href="https://twitter.com/FiduciaTech" title="twitter"> 
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.instagram.com/fiduciatechnologiesllp/" title="instagram">  
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </div>
                
              </div>
          
         <!-- <div class="unit-left"><img src="/images/fiducia.jpg" alt="" width="300" height="20"></div> -->
            </div>
          </div>
        </div>
        
        <div class="footer-inner-2">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. www.fudiciatechnologies.com  </p>
          </div>
        </div>
      </footer>
        <div class="footer-inner-2">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. www.fudiciatechnologies.com<a href="https://www.templatemonster.com"></a></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
   
    <!--coded by Starlight-->
    <a href="//web.whatsapp.com/send?phone=9977776189&text&app_absent=0" id ="ui-to-top" class="ui-to-top fa fa-whatsapp active"></a>
  </body>
  <a href="//web.whatsapp.com/send?phone=9977776189&text&app_absent=0" style="background-color: #041d55;" id ="ui-to-top" class="ui-to-top fa fa-whatsapp active"></a>
</html>