<div class="rd-navbar-main-element">
    <div class="rd-navbar-nav-wrap">
      <ul class="rd-navbar-nav">

        
        <li class="rd-nav-item <% if(active_nav == 'home'){ %>active<% } %>"><a class="rd-nav-link" href="/">Home</a>
        </li>
        <li class="rd-nav-item <% if(active_nav == 'about'){ %>active<% } %>"><a class="rd-nav-link" href="/About">About Us</a>
        </li>
        <li class="rd-nav-item <% if(active_nav == 'fbrands'){ %>active<% } %>"><a class="rd-nav-link" href="/Brand">Brands</a>
        </li>
        <li class="rd-nav-item <% if(active_nav == 'fclients'){ %>active<% } %>"><a class="rd-nav-link" href="/Client">Clients</a>
        </li>
        <li class="rd-nav-item <% if(active_nav == 'fproducts'){ %>active<% } %>"><a class="rd-nav-link" href="/Product">Solutions & Products</a>
        </li>
        <li class="rd-nav-item <% if(active_nav == 'fcontact'){ %>active<% } %>"><a class="rd-nav-link" href="/Contact">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
  